@media  screen and (max-width : 768px) {
    .header-contact__info {
        flex-direction: column;
    }
    .header-contact__icons {
        justify-content: center;
        margin-top: 10px;
    }
}
@media screen and (max-width :992px) {
    .pt-lg-150{
        padding-top: 2rem !important ;
        text-align: center;
    }
    #footer , .footer-instagram__img {
        text-align: center !important;
    }
    #subscribe{
        text-align: center;
    }
    .header-menu__submenu{display: none !important;}
    #schedule-box__Contents{
        text-align: center;
    }
    .client-intro{
        text-align: center !important;
    }
}
@media screen and (max-width : 576px) {
    .header-main__title {
        font-size: 3rem;
         padding: 0;
    }
    .sponsers div{
        padding: 0 !important;
    }
}