body{
    overflow-x:hidden ;
}
.header-contact{
    background: linear-gradient( 157deg,#e100ff 0%,rgba(127,0,255,0.99608) 100%);
    padding-bottom: 10px;
    padding-top: 10px;
}
.header-contact__info{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
}
.header-contact__info div {
    padding: 0 5px;
}
.vertical-line::after{
    content: '|';
    color: white;
    padding: 0 5px;
}
.header-contact__icons , .speaker-box__contact{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-contact__icons svg , .speaker-box__contact svg{
    width: 30px;
    height: 30px;
    margin: 0 7px;
    border: 2px solid white;
    fill: white;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    transition: .8s;
}
.speaker-box__contact svg{
    fill: #fd424d !important;
    background: white !important;
}
.header-contact__icons svg:hover , .speaker-box__contact svg:hover{
    background: #f96854;
    border: none;
}
.speaker-box__contact svg:hover{
    background: white ;
}
.header-menu__item{
    margin: 0 15px;
    color: #010183;
    cursor: pointer;
    font-weight: 500;
    line-height: 3;
}
.header-menu__submenu{
    box-shadow: 2px 2px 5px #b0a7a7;
    position: absolute;
    width: 200px;
    left: 0;
    top: 3rem;
    display: none;
    background: white;
}
.header-menu__vertical-item {
    margin: 10px 10px 20px 0;
    cursor: pointer;
    color: #0a067a;
    padding: 1rem 2.5rem 0.5rem 12px;
}
.nav-item{
    position: relative !important ;
}
.nav-item:hover .header-menu__submenu{
    display: block;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.btn-purple{
    padding: 10px 20px;
    color: white;
    background: linear-gradient( 157deg,#e100ff 0%,rgba(127,0,255,0.99608) 100%);
    font-weight: bold;
    transition: .7s;
}
.btn-purple:hover{
    background: white !important;
    border: 2px solid rgb(162, 0, 255) !important;
    color: rgb(162, 0, 255) !important;
}
.header-main__title{
    font-size: 4.5rem;
    padding: 1rem;
    color: #221b68;
    line-height: 1.2;
    font-weight: bold;
}
.header-main__title span{
    color: #fd424d;
}
.pt-lg-150{
    padding-top: 150px !important;
}
.header-main__content{
    padding: 1rem;
    color: #221b68;
}
.btn-pink{
    border: 2px solid #fd424d;
    color: #fd424d;
    padding: 10px 20px;
    font-weight: bold;
    transition: .8s;
}
.btn-pink:hover{
    color: white !important;
    background: linear-gradient(157deg,#f86f64 0%,#fd5392fe 100%) !important;
    border: none;
}
.header-main__buttons{
    padding: 1rem ;
}
.header-main__play{
    left: 100px;
    position: absolute;
    top: 250px;
    animation: heart-beat 3s ease-in-out  infinite;
}
.header-main__play-circle1{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fd424d38;
    border-radius: 50%;
    cursor: pointer;
}
.header-main__play-circle2{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fd424e6b;
    border-radius: 50%;
}
.header-main__play-circle2 svg{
    fill: #fd424d;
    width: 100px;
    height: 100px;
}
@keyframes heart-beat {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}
.counter{
    background: linear-gradient( 157deg,#e100ff 0%,rgba(127,0,255,0.99608) 100%) !important;
    color: white;
    font-weight: bold;
}
.counter__item{
    margin: 10px 44px;
    font-weight: 500;
}
.counter__item span {
    font-size: 3rem;
    font-weight: bold;
}
.advantage-box__icon{
    text-align: center;
    margin: 15px 0;
}
.advantage-box__icon svg{
    width: 40px;
    height: 40px;
    fill: #fd424d;
}
.advantage-box__title{
    text-align: center;
    font-size: 1.5rem;
    color: #231c68;
    font-weight: bold;
    padding-bottom: 12px;
}
.advantage-box__content{
    text-align: center;
    color: #231c68;
}
.advantage-box__link{
    text-align: center;
    padding: 10px;
}
.advantage-box__link a{
    text-decoration: none;
    font-weight: 600;
    color: #231c68;
}
.advantage-box__link a:hover{
    color: #fd424d;
    text-decoration: underline;
}
.title-sm{
    color: #8c17fe;
    font-weight: bold;
}
.title-lg{
    font-weight: 700;
    font-size: 2.5rem;
    color: #221b68;
    padding: 0 0 10px 0;
    display: inline-block;
}
.title-lg span{
    color: #fd424d;
}
.advantage__content{
    padding: 15px 0;
    color: #241d7d;
}
.about-us__content{
    color: #241d7d;
    padding: 15px 0;
}
.about-us__list ul li{
    font-size: 1.3rem;
    color: #241d7d;
    margin: 5px 0;
}
.about-us__list ul li::marker{
    color:#fd424d;
}
.speakers__content{
    color: #221b68
}
.speaker-box__intro{
    position: absolute;
    background: #fd424d;
    padding: 1rem 3rem;
    bottom: 15px;
    left: 15px;
    border-radius: 10px;
    display: none;
}
.speaker-box{
    overflow: hidden;
}
@keyframes move-up {
    from{
        transform: translatey(160px);
    }
    to{
        transform: translatey(0);
    }
}
.speaker-box:hover .speaker-box__intro{
    display: block;
    animation: move-up .3s ease-in;
}
.schedule__intro{
    padding-top: 100px;
}
.text-pencel{
    color: #221b68;
}
.schedule-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.schedule-link{
    padding: 1rem 3rem;
    margin: 10px 1rem;
    box-shadow: 1px 1px 15px #cac3c6;
    border-radius: 10px;
    text-align: center;
    color: #221b68;
    transition: .8s;
    cursor: pointer;
    position: relative;
}
.schedule-link div{
    font-size: 1.5rem;
    font-weight: bold;
}
.schedule-link:hover{
    background: linear-gradient(157deg,#fd4b3d 0%,rgba(253,44,121,0.99608) 100%);
    color: white;
}
.schedule-link__active{
    background: linear-gradient(157deg,#fd4b3d 0%,rgba(253,44,121,0.99608) 100%);
    color: white;
}
.schedule-link__active svg{
    fill: #fd424d !important;
}
.schedule-link svg{
    position: absolute;
    top: -28px;
    right: 72px;
    width: 40px;
    height: 40px;
    fill: white;
}
.schedule-link:hover .bi-caret-up-fill{
    fill: #fd424d;
} 
.schedule-box__time div{
    margin: 10px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule-box__time div span{
    margin: 0 5px;
}
.schedule-box__title{
    font-size: 1.3rem;
    color: #fd424d;
    padding: 10px 1rem;
}
.schedule-box__title span{
    font-weight: bold;
    font-size: 1.5rem;
    color: #221b68;
}
.ticket-box__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ticket-box__title svg{
    width: 70px;
    fill: #fd424d;
    height: 70px;
    padding: 5px;
}
.ticket-box__title span{
    font-weight: bold;
    font-size: 1.5rem;
}
.ticket-box__price{
    font-size: 3rem;
    margin: 20px 0;
    font-weight: bolder
}
.ticket-box__price span{
    font-size: 1.5rem;
    font-weight: 500;
}
.ticket-box__content ul li{
    list-style-type: none;
    margin: 10px 0;
}
.ticket-box:hover{
    color: white !important;
    background: linear-gradient(157deg,#fd4b3d 0%,rgba(253,44,121,0.99608) 100%);
}
.ticket-box:hover .ticket-box__btn a{
    background: white;
    color: #231c68;
    border: none;
}
.ticket-box:hover .ticket-box__title svg{
    fill: white;
}
.ticket-box__active {
    color: white !important;
    background: linear-gradient(157deg,#fd4b3d 0%,rgba(253,44,121,0.99608) 100%) !important;
}
.ticket-box__active .ticket-box__title svg{
    fill: white;
}
.ticket-box__active .ticket-box__btn a{
    background: white;
    color: #231c68;
    border: none;
}
.ticket-box{
    transition: .8s;
}
.client-box__img  div svg{
    position: absolute;
    top: 15px;
    left: -75px;
}
.client__name{
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.3rem;
}
.client__job{
    padding: 0px 0px 10px 0;
}
.carousel-control-prev-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}
.carousel-control-next-icon {
    background-image :url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}
.blog-box__labels{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.blog-box__title {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 5px 0;
}
.blog-box__link a{
    text-decoration: none;
    color: #221b68;
    font-size: 1.2rem;
    padding: 10px 0;
}
.blog-box__link a:hover{
    color: #fd424d;
}
#subscribe{
    max-width: 1320px;
    margin: auto;
    padding: 2rem 0;
    color: white;
}
.subscribe{
    background: linear-gradient( 157deg,#e100ff 0%,rgba(127,0,255,0.99608) 100%);
}
.subscribe__title{
    font-weight: bold;
    font-size: 2.5rem;
}
.subscribe__content{
    font-weight: 500;
}
#subscribe-input{
    width: 100%;
    padding: 15px 0 15px 25px;
    border-radius: 6px;
    outline: none;
    border: none;
}
#subscribe-btn{
    position: absolute;
    right: 0;
    background: #fd424d;
    color: white;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    border: none;
    font-weight: bold;
}
.register-title{
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #221b68;
}
.register-input input, .register-input textarea {
    width: 100%;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #8c17fe;
    padding: 12px 0 12px 35px;
    outline: none;
}
.register-input{
    position: relative;
}
.register-input svg {
    position: absolute;
    z-index: 1;
    fill: #8c17fe;
    width: 20px;
    height: 20px;
}
.register-person__i svg{
    top: 22px !important;
    left: 15px !important;
}
.register-input svg {
    top: 22px;
    left: 27px;
}
.footer-about-us__icons svg{
    width: 30px;
    height: 30px;
    margin: 0 3px;
    border: 2px solid white;
    fill: #fff;
    background: #221b68;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    transition: .8s;
}
.footer-about-us__icons svg:hover{
    background-color: #fd424d;
}
.mart-150{
    margin-top: 150px;
}
.footer-links , .footer-contact{
    padding-top: 1.5rem;
}
.footer-link__title , .footer-contact__title{
    font-size: 2rem;
    font-weight: 600
}
.footer-link__items div , .footer-contact__items div {
    margin: 1rem 0;
    font-weight: 500;
    cursor: pointer;
}
.footer-link__items div:hover {
    text-decoration: underline;
    color:  #fd424d;
}
.footer-instagram__img img{
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.footer-instagram__title{
    font-size: 2rem;
    font-weight: 600;
    padding: 20px 0;
}
.copy-right{
    background:  linear-gradient( 157deg,#e100ff 0%,rgba(127,0,255,0.99608) 100%)
}